.card {
  border: 2px solid rgb(94, 94, 242);
  padding: 30px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card h1 span {
  background-color: rgb(94, 94, 242);
  padding: 3px 10px;
  border-radius: 2px;
}

.card .buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card .delete {
  background-color: rgb(246, 75, 75);
  width: 100%;
}

.card .delete:hover {
  outline: 2px solid rgb(246, 75, 75);
  background-color: transparent;
}
