.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    gap: 20px;
    flex-direction: column;
}

.not-found a{
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}